.main-content__hero {
    background-color: var(--color-grey-background-hero);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgrnd-studio-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
  
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white-main);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;
  }
  
  .hero__btn {
    display: inline-block;
    font-family: inherit;
    background-color: var(--color-blue-main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    color: var(--color-white-main);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 216px;
    padding: 10px 32px;
    transition: background-color var(--dur-time-func);
    &:hover,
    &:focus {
    background-color: var(--color-blue-accent);
  }
  }
  
  